@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    transition-duration: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    background-color: darkgreen;
    margin: auto;
    width: 100vw;
    text-align: center;
    box-shadow: 2px 2px 30px rgba(0, 44, 0, 0.685);
    min-height: 200px;
}
header h1{
    padding: 30px 0px 10px 0px;
    color: lightgreen;
    font-variant: small-caps;
}
header p{
    padding: 5px;
    color: white;
    line-height: 1em;
}


body{
    background-color: white;
}


main{
    padding: 40px;
    margin: auto;
    text-align: center;
}
main h1{
    color: darkgreen;
    padding: 10px;
}
main p{
    text-align: justify;
    padding: 5px;
    line-height: 1em;
    text-indent: 20px;
}
main img.paglink{
    display: inline-block;
}


footer{
    background-color: darkgreen;
    margin: auto;
    width: 100vw;
    text-align: center;
    min-height: 200px;
    padding: 30px;
}
footer h1{
    padding: 5px;
    color: lightgreen;
    font-variant: small-caps;
    font-size: 1em;
}
footer p{
    padding: 5px;
    color: white;
    line-height: 1em;
    font-size: 1em;
}