@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    transition-duration: 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    background-color: rgb(0, 70, 0);
    margin: auto;
    width: 100vw;
    text-align: center;
    box-shadow: 2px 2px 30px rgba(0, 44, 0, 0.685);
    min-height: 200px;
}
header h1{
    padding: 30px 0px 10px 0px;
    color: lightgreen;
    font-variant: small-caps;
}
header p{
    padding: 5px;
    color: white;
    line-height: 1em;
}
header a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
header a:hover{
    color: lightgreen;
    text-shadow: 0px 0px 10px white;
}


body{
    background-color: white;
}


main{
    padding: 40px;
    margin: auto;
    text-align: center;
}
main h1{
    color: rgb(0, 70, 0);
    padding: 10px;
}
main p{
    text-align: justify;
    padding: 10px 0px;
    line-height: 1em;
    text-indent: 20px;
}
main img.paglink{
    display: inline-block;
    padding: 10px 5px;
    max-width: 200px;
}
main img.paglink:hover{
    box-shadow: 0px 0px 10px lightgreen;
}
main h2{
    display: inline-block;
    font-weight: normal;
    max-width: 200px;
    padding: 10px 5px;
    font-size: 1em;
    vertical-align: top;
    text-align: start;
    line-height: 1em;
    text-indent: 10px;
}
main img.pagcomic{
    width: 80vw;
}


footer{
    background-color: rgb(0, 70, 0);
    margin: auto;
    width: 100vw;
    text-align: center;
    min-height: 200px;
    padding: 30px;
}
footer h1{
    padding: 5px;
    color: lightgreen;
    font-size: 1em;
}
footer p{
    padding: 5px;
    color: white;
    line-height: 1em;
    font-size: 1em;
}
footer a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
footer a:hover{
    color: lightgreen;
    text-shadow: 0px 0px 10px white;
}