@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    transition-duration: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: darkgreen;
    width: 100vw;
}
header h1{
    margin: auto;
    padding: 10px;
}